body {
    background-color: #ffffff !important;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

 /* Navigation bar */
 .nav-avatar{
    max-height: 50px;
}

.navbar {
    height: 75px;
    background-color: #221c42;
    color: white;
}

.create-btn{
    background-color: #dde7de;
    color: #221c42;
    margin-right: 10px;
    text-decoration: none;
 }

 /* Recipe Card*/
.card {
    border: none;
    background-color: #fcfcfd;
}

.image-container {
    position: relative;
}

.recipe-avatar {
    position: absolute;
    left: 5;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    width: 120px;
    height: 120px;
}

.card-status {
    position: absolute;
    left: 0;
    top: 90%;
    margin: 0 auto;
    bottom: 0;
    width: 105px;
    height: 25px;
    background-color: white;
    border-radius: 25px;
}

.btn-card{
    width: 150px;
}

/* adds a slight opacity to ava tars*/
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    pointer-events: none;
}
  
.recipe-avatar:hover .overlay {
    opacity: 0.3;
}

.card-cooking-time{
    display: flex; 
    justify-content: space-between;
}

/* adds 3 dots when title is too long*/
.title-line-clamp{
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* adds 3 dots when line is too long*/
.line-clamp{
    height: 70px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* zoom effect on hover*/
.card-body{
    transition: transform .2s;
}

.card-body:hover {
    transform: scale(1.05);
}

.author {
    margin: 4px;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #445261;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.card-img {
    max-height: 100%;
    max-width: 100%;
}

img {
    height: 300px;
    object-fit: cover;
}

.footer{
    background-color: #7BD4CC;
}

i::before{
    background:transparent;
 }

/* Profile*/

#profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
 } 

 /* Recipe Details */

.recipe-container{
    display: flex;
    flex-direction: row;
}

.recipe-like{
    position: absolute;
    top: 0px;
    right: 5px;
}

.recipe-img{
    position: relative;
}