{% load static %}

<!DOCTYPE html>
<html class="h-100">

<head>
    <title>My Foody Book</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Show the world what Foody you are">
    <meta name="keywords" content="Food, creation, share, book, collection, commenting">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- Favicon -->  
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/d16a3d2fb1.js" crossorigin="anonymous"></script>
    <!-- CSS Link -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-white"></span>
            </button>
            <div class="collapse navbar-collapse navbar-dark bg-dark" id="navbarText">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="navbar-brand text-white" href="{% url 'my_foody_book' %}">My Foody Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="{% url 'home' %}">All
                            Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'users-list' %}">Users</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'users-register' %}">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{% url 'admin:index' %}">Admin</a>
                    </li>
                    {% endif %}

                </ul>

                <a href="{% url 'publish_recipe' %}"
                    class="btn btn-success border mr-3 hover:scale-105 hover:shadow">Create
                    a Recipe</a>

            </div>
            <div class="mx-3">
                <!--Profile links-->
                {% if user.is_authenticated %}

                {% if "placeholder" in profile.avatar.url %}
                <a href="{% url 'my-profile' %}"><img class="rounded-circle nav-avatar"
                        src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg"></a>
                {% else %}
                <a href="{% url 'my-profile' %}"><img class="rounded-circle nav-avatar"
                        src="{{ request.user.profile.avatar.url }}" id="img"></a>
                {% endif %}

                {% else %}
                <a href="{% url 'users-register' %}"><img class="rounded-circle nav-avatar"
                        src="https://thumbs.dreamstime.com/b/default-avatar-profile-vector-user-profile-default-avatar-profile-vector-user-profile-profile-179376714.jpg"></a>
                {% endif %}
            </div>
        </div>
    </nav>
    <!--Any flash messages pop up in any page because this is the base template-->
    {% if messages %}
    <div id="alert-id" class="alert alert-dismissible" role="alert">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    <footer class="footer bg-dark mt-auto py-3">
        <p class="m-0 text-center text-white">Follow us: <a href="https://www.facebook.com/"><i class="fab fa-facebook-square ms-3"></i></a>
             <a href="https://twitter.com/"><i class="fab fa-twitter-square ms-3"></i></a>
             <a href="https://www.instagram.com/"><i class="fab fa-instagram-square ms-3"></i></a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube-square ms-3"></i></a>
        </p>
    </footer>

    <!-- JavaScript Link -->
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>