{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for recipe in recipe_list %}
                <div class="col-md-4">
                    <div class="card shadow mb-4 rounded">
                        <div class="card-body">
                            <a href="{% url 'recipe_details' recipe.slug %}">
                                <div class="image-container">
                                    {% if "placeholder" in recipe.featured_image.url %}
                                    <img class="card-img-top rounded"
                                        src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                    {% else %}
                                    <img class="card-img-top rounded" src=" {{ recipe.recipe_image.url }}">
                                    {% endif %}
                                    <div class="recipe-avatar">
                                        {% if "placeholder" in recipe.author.profile.avatar.url %}
                                        <a href="{% url 'users-profile' %}"><img
                                                class="rounded-circle card-img mx-auto d-block border border-5"
                                                src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg"></a>
                                        {% else %}
                                        <a href="{% url 'users-profile' %}"><img
                                                class="rounded-circle card-img mx-auto d-block border border-5"
                                                src="{{ recipe.author.profile.avatar.url }}"></a>
                                        {% endif %}
                                    </div>
                            </a>
                        </div>
                        <a href="{% url 'recipe_details' recipe.slug %}" class="post-link">
                            <h2 class="card-title">{{ recipe.title }}</h2>
                            <p class="author">By {{ recipe.author }}</p>
                            <hr />
                            <div class="card-cooking-time">
                                <p class="card-text"><i class="fa-solid fa-kitchen-set"></i> Prep Time
                                    {{ recipe.preping_time }} Min</p>
                                <p class="card-text"><i class="fa-regular fa-hourglass-half"></i>Cooking Time
                                    {{ recipe.cook_time }} Min</p>
                            </div>
                            <p class="card-text line-clamp">{{ recipe.excerpt }}</p>
                        </a>
                        <hr />
                        <p class="card-text text-muted h6">{{ recipe.created_on}} <i class="far fa-heart"></i>
                            {{ recipe.recipe_likes }}</p>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}

        </div>
    </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
</div>
{%endblock%}