{% extends "base.html" %}

{% block content %}

{% load cloudinary %}

{% load crispy_forms_tags %}

        <!-- If user is logged in -->
{% if user.is_authenticated %}
<!-- Edit Recipe Section -->
<section class="edit-recipe-section py-14 md:py-20 flex-1 flex flex-col items-center px-5">
    <div class="container mx-auto">

        <!-- If the form hasn't been submitted -->
        {% if posted is False %}

        <div class="">

            <!-- Heading -->
            <h1 class="text-center text-4xl mb-10">Edit Recipe</h1>

            <!-- Author -->
            <h3 class="">Editing as: {{ user.username }}</h3>

            <!-- When form fails -->
            {% if failed %}
            <p class="text-lg">
                <strong>
                    Unfortunately your edition failed. Make sure to fill all required fields.
                </strong>
            </p>
            {% endif %}

            <!-- Form -->
            <form enctype="multipart/form-data" class="" method="post" name="edit-recipe">
                {{ form | crispy }}
                {% csrf_token %}

                <!-- Submit Button -->
                <button class="" type="submit">Submit</button>

                <!-- Cancel Button -->
                <button class="" type="button">Cancel</button>
            </form>
        </div>
        {% endif %}
    </div>
</section>
{% else %}

<!-- If User Has Submitted Form Successfully -->
{% if posted is True %}

<!-- Form Successfully Posted Notification -->
<div class="hero-image"></div>

<div class="jumbotron bg-light border border-5 border-secondary rounded text-center">

    <!-- Title -->
    <h2 class="my-3 mx-3">Your Recipe is updated!!</h2>

    <!-- Post Recipe Link -->
    <a class="btn btn-success btn-card mb-3" href="{% url 'home' %}">See all recipes</a>

    <!-- Home Link -->
    <a class="btn btn-secondary btn-card mb-3" href="{% url 'home' %}">To My Foody Book</a>

</div>
{% endif %}
{% endif %}

{% endblock %}