{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Heading -->
        <h1 class="text-center text-5xl mb-10 my-4">{{ user.user.username }}'s Foody Book</h1>
    </div>
    <div class="d-flex flex-col align-items-start justify-content-center">
        <div class="col-lg-3 d-flex justify-content-center">
            <div class="card bg-light w-350 shadow rounded my-3" style="width: 25rem;">
                <div class="card-body d-flex align-items-center justify-content-center">
                    {% if "placeholder" in user.avatar.url %}
                    <img class="rounded-circle"
                        src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg"
                        alt="Default User picture">
                    {% else %}
                    <img class="rounded-circle" src="{{ user.avatar.url }}" alt="User picture">
                    {% endif %}
                </div>

                <div class="d-flex align-items-center justify-content-center">
                    {% if user == user.user %}
                    <a class="btn btn-success btn-card" href="{% url 'my-profile' %}">Edit</a>
                    {% endif %}
                </div>

                <div class="card-title text-center">
                    <h2>{{ user.user.username }}</h2>
                    <label>{{ user.nationality }}</label>
                </div>

                <div class=" card-text d-flex flex-column justify-content-center mx-2">
                    <div class="card rounded border border-dark d-flex justify-content-start mt-3 px-2 py-2">
                        <h6>Bio</h6> {{ user.bio }}
                    </div>

                    <div class="card rounded border border-dark d-flex justify-content-start my-3 px-2 py-2">
                        <h6>Favorite Food</h6>{{ user.favorite_food }}
                    </div>
                </div>
            </div>
        </div>
        <div class="mx-auto col-lg-9">
            <div class="row mx-5 mt-5">

                <!-- Recipe Loop -->
                {% for recipe in recipes %}
                <div class="col-md-4">

                    <!-- Card position-->
                    <div class="card shadow mb-4 rounded">
                        <div class="card-body">

                            <!-- Recipe URL linked to the Image-->
                            <a href="{% url 'recipe_details' recipe.slug %}">

                                <!-- Recipe Image-->
                                <div class="image-container">

                                    <!-- If no picture added by user-->
                                    {% if "placeholder" in recipe.recipe_image.url %}
                                    <img class="card-img-top rounded"
                                        src="https://www.finedininglovers.com/sites/g/files/xknfdk626/files/styles/open_graph_image/public/Original_4313_exploding.veg.carrot.jpg?itok=RNVvEx15"
                                        alt="Exploding carrot">

                                    {% else %}

                                    <!-- With picure added by user-->
                                    <img class="card-img-top rounded" src=" {{ recipe.recipe_image.url }}">

                                    {% endif %}

                                    <!-- Author avatar-->
                                    <div class="recipe-avatar">

                                        <!-- Profile without avatar-->
                                        {% if "placeholder" in recipe.avatar.url %}
                                        <a href="{% url 'my-profile' %}"><img
                                                class="rounded-circle card-img mx-auto d-block border border-5"
                                                src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg"></a>

                                        {% else %}
                                        <!-- Profile with avatar -->
                                        <a href="{% url 'my-profile' %}"><img
                                                class="rounded-circle card-img mx-auto d-block border border-5"
                                                src="{{ recipe.author.profile.avatar.url }}"></a>

                                        {% endif %}
                                        <div class="overlay rounded-circle border border-5 border-danger"></div>
                                    </div>
                            </a>
                        </div>

                        <!-- URL linked to the text section-->
                        <a href="{% url 'recipe_details' recipe.slug %}" class="post-link">

                            <!-- Recipe title-->
                            <h2 class="card-title my-2 title-line-clamp">{{ recipe.title }}</h2>

                            <!-- Recipe Author-->
                            <p class="author">By {{ recipe.author }}</p>

                            <!-- horizontal line-->
                            <hr />

                            <!-- Recipe prep and cooking time section -->
                            <div class="card-cooking-time">
                                <p class="card-text"><i class="fa-solid fa-kitchen-set"></i> Preparation:
                                    {{ recipe.preping_time }} Min</p>
                                <p class="card-text"><i class="fa-regular fa-hourglass-half"></i> Cooking:
                                    {{ recipe.cook_time }} Min</p>
                            </div>

                            <!-- Recipe excerpt with line control -->
                            <p class="card-text line-clamp">{{ recipe.excerpt }}</p>
                        </a>

                        <!-- horizontal line-->
                        <hr />

                        <!-- Creation date and collected sections-->
                        <div class="d-flex justify-content-between my-2">
                            <p class="card-text text-muted h6">{{ recipe.created_on }}

                                <!-- Number of users who collected the recipe-->
                            <div class="card-text text-muted h6">
                                {% if recipe.number_of_likes == 0 %}
                                Not collected yet

                                {% elif recipe.number_of_likes == 1 %}
                                Collected once

                                {% else %}
                                Collected {{ recipe.number_of_likes }} times
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Row creation loop after 3 cards-->
            {% if forloop.counter|divisibleby:3 %}
        </div>
        <div div class="row mx-5 mb-3">
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}