{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-center">
        <div class="card bg-light w-350 shadow rounded my-3" style="width: 25rem;">
            <div class="card-body d-flex align-items-center justify-content-center">
                {% if "placeholder" in page_user.avatar.url %}
                <img class="rounded-circle"
                    src="https://t4.ftcdn.net/jpg/02/15/84/43/360_F_215844325_ttX9YiIIyeaR7Ne6EaLLjMAmy4GvPC69.jpg"
                    alt="Default User picture">
                {% else %}
                <img class="rounded-circle" src="{{ page_user.avatar.url }}" alt="User picture">
                {% endif %}
            </div>

            <div class="d-flex align-items-center justify-content-center">
            {% if page_user.user == user %}
                <a class="btn btn-success btn-card" href="{% url 'my-profile' %}">Edit</a>
                {% endif %}
            </div>

            <div class="card-title text-center">
                <h2>{{ page_user.user.username }}</h2>
                <label>{{ page_user.nationality }}</label>
            </div>

            <div class=" card-text d-flex flex-column justify-content-center mx-2">
                <div class="card rounded border border-dark d-flex justify-content-start mt-3 px-2 py-2">
                    <h6>Bio</h6> {{ page_user.bio }}
                </div>
                
                <div class="card rounded border border-dark d-flex justify-content-start my-3 px-2 py-2">
                    <h6>Favorite Food</h6>{{ page_user.favorite_food }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}